.formWidget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--custom-bg-color);
  box-shadow: var(--custom-box-shadow);
}

.profileContainer {
  display: flex;
}

.avatarBtn {
  color: rgb(255, 246, 238);
  background-color: var(--custom-color-brand);
  border: 1px solid var(--custom-color-brand);
  border-radius: var(--custom-border-radius);
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.profileData {
  width: 150px;
}
