.formWidget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;
  height: fit-content;
  padding: 0.625rem;
  border: 0.125rem solid #ccc;
  border-radius: 0.3125rem;
  background-color: var(--custom-main-color);
  box-shadow: var(--custom-box-shadow);
}

.profileContainer {
  display: flex;
}

.profileData {
  width: 9rem;
}

.button_group {
  margin-top: 1rem;
}

.message {
  color: green;
}

.errMes {
  color: red;
}
