.container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(116, 135, 135); */
  /* justify-content: space-around; */

}

.statusContainer {
  width: 300px;
  height: 100%;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  padding: 0px 20px 20px 20px;
  border-radius: 5px;
}

.statusContainer div {
  margin-bottom: 10px;
  font-size: 16px;
}

.controlPanel {
  width: 300px;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  padding: 0px 20px 20px 20px;
  border-radius: 5px;
}

.controlPanel div {
  font-size: 16px;
}

.controlPanel input[type='range'] {
  margin-bottom: 10px;
  width: 100%;
}

.servoState {
  width: 350px;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  padding: 0px 10px 10px 20px;
  border-radius: 5px;
}

.servoState div {
  margin-bottom: 10px;
  font-size: 16px;
}

.btnContainer {
  width: 350px;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  padding: 4rem 1rem;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: rgb(110, 151, 151); */

}

.controlBtn {
  width: 46%;
  margin-top: 1rem;
  background-color: #ccc;
  color: #222;
  border: none;
  box-shadow: 0 0 10px #ccc;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.controlBtn:hover {
  background-color: #999;
}
