.container {
  width: 410px;
}

.container h3 {
  margin: 0;
  margin-bottom: 10px;
}

.esp32Devices {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: var(--custom-bg-color);
  box-shadow: var(--custom-box-shadow);
}
.esp32Devices ul {
  margin: 0;
  padding: 0 20px;
}
.esp32Devices li {
  list-style: none;
}

.listItems {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.listItems p {
  font-weight: bold;
  margin: 0;
}

.listItems span {
  font-weight: normal;
}

.editIcons {
  display: flex;
  margin-left: 20px;
}

.editIcons div {
  margin-left: 10px;
  display: flex;
  align-items: center;
  border: 1.5px solid;
  border-radius: 5px;
  border-color: #ccc;
}

.editIcons div :hover {
  cursor: pointer;
}

.addDeviceForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: var(--custom-bg-color-light);
  box-shadow: var(--custom-box-shadow);
}

.editDeviceForm {
  width: fit-content;
  height: fit-content;
  background-color: var(--custom-bg-color);
  padding: 10px;
}

.editFormBtns {
  display: flex;
  justify-content: space-between;
}
