@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --custom-bg-color: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
  --custom-Text-color: #0d0d0d;
  --custom-box-shadow: 0 0 0.625rem #ccc;
  --custom-color: #000000;
  --custom-primary-color: #4d6aea;
  --custom-color-secondary: #fffbed;
  --custom-border: 0.1rem solid #333;
  --custom-border-radius: 0.3125rem;
  --custom-spacing: 0.3125rem;
  --custom-main-color: #ffffff;
  --bar-shadow-color: #ccc;

  --navbar-z-index: 1000;
  --sidebar-z-index: 999;
  --navbar-overlay-z-index: 998;
}

* {
  color: var(--custom-color);
  font-family: var(--custom-font-family);
  box-sizing: border-box;
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* Forms */

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em 0;
  padding: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em 0;
  padding: 0;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 0.5em 0;
  padding: 0;
}

p {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  margin: 0.3125rem 0;
  color: var(--custom-text-color);
  font-size: 0.8rem;
  text-transform: uppercase;
}

input {
  width: 100%;
  border-radius: 0.3125rem;
  border: var(--custom-border);
  padding: 0.5rem;
  font-size: 0.9rem;
  background-color: var(--custom-main-color);
  color: var(--custom-text-color);
}

/* input[disabled] {
  color: var(--custom-color-secondary);
} */

button,
.button {
  color: var(--custom-color-secondary);
  /* border: var(--custom-border);   */
  background-color: var(--custom-primary-color);
  display: inline-block;
  text-align: center;
  border-radius: var(--custom-border-radius);
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  width: 100%;
}

button.primary,
.button.primary {
  color: rgb(255, 246, 238);
  background-color: var(--custom-primary-color);
  border: var(--custom-border);
}

.flex-container {
  /* height: 35rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.card {
  width: 9.375rem;
  height: 12.5rem;
  background-color: var(--custom-main-color);
  padding: 1rem;
  margin: 1rem;
}

.card:hover {
  background-color: beige;
  cursor: pointer;
}

.card p {
  margin-top: 0;
  font-weight: bold;
}

.card div {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar {
  border-radius: var(--custom-border-radius);
  overflow: hidden;
  max-width: 100%;
}
.avatar.image {
  object-fit: cover;
}
.avatar.no-image {
  background-color: #838383;
  border: 0.0625rem solid rgb(200, 200, 200);
  border-radius: 0.3125rem;
}

.reactIconsDiv {
  border: 0.125rem solid;
  border-radius: 0.3125rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
.reactIcons {
  margin: .3125rem;
} */

.reactIcons path {
  color: rgb(0, 0, 0);
}

.styled-table {
  border-collapse: collapse;
  margin: 0.5rem 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 350px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: var(--custom-main-color);
  color: #ffffff;
  text-align: center;
  border-bottom: 2px solid var(--custom-color);
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  text-align: center;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  background-color: white;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  /* border-bottom: 2px solid #009879; */
  border-bottom: 2px solid var(--custom-color);
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
