.container {
  width: 80%;
  /* background-color: rgb(93, 72, 44); */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container ul {
  width: 60%;
  height: 29rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
}

.btnContainer {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.btnContainer button {
  width: 30%;
  height: 2.5rem;
  border-radius: 0.625rem;
  border: none;
  background-color: #4d6aea;
  cursor: pointer;
}
