.container {
  /* background-color: aquamarine; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historyUl {
  display: flex;
  flex-direction: column;
  width: fit-content;
  /* background-color: antiquewhite; */
}
