.container {
  /* background-color: aquamarine; */
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 13rem;
}

.historyUl {
  display: flex;
  flex-direction: column;
  width: fit-content;
  /* background-color: antiquewhite; */
}
