.container {
  padding: 1.5rem 1rem;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  /* background-color: brown; */
  width: 80%;
  height: 100%;
}

.authContainer {
  width: 27rem;
  padding: 0 1rem;
  margin: 3rem auto 5rem;
}

.flex {
  display: flex;
  min-height: 100vh;
}
