.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: var(--sidebar-overlay-z-index);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out;
}

.overlay.hide {
  display: none;
  background-color: rgba(0, 0, 0, 0);
}

.container {
  padding: 3rem 0.25rem;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: brown; */
  width: 80%;
  height: 100%;
}

.auth_page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authContainer {
  width: 20rem;
  /* background-color: aquamarine; */
}

.flex {
  display: flex;
  min-height: 100vh;
}
