/* components/Navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 0.0625rem solid #ececf1;
  height: 5rem;
  padding: 0.03rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: var(--navbar-z-index);
}

.menuDiv {
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
}

.menuDiv:hover {
  border-radius: 50%;
  background-color: var(--bar-shadow-color);
  background-color: #ccc;
}

@media (min-width: 1800px) {
  .menuDiv {
    display: none;
  }
}

.navbarList {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  list-style: none;
}

.navbarItem {
  margin-right: 1rem;
  margin-bottom: 0;
}

.navbarItem p {
  margin: 0;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.conBtn {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border: 0.1rem solid #bebebe;
  border-radius: 0.5rem;
  /* background-color: #4caf50; */
}

.conBtn:hover {
  cursor: pointer;
  background-color: #ececf1;
}

.conBtn p {
  margin-left: 0.45rem;
}

.red {
  display: flex;
  align-items: center;
}

.red svg {
  fill: #f44336;
}

.green {
  display: flex;
  align-items: center;
}

.green svg {
  fill: #4caf50;
}

.avatarContainer:hover {
  cursor: pointer;
}

@media (max-width: 420px) {
  .avatarContainer {
    display: none;
  }
  .logo {
    display: none;
  }
}

.resetWifiButton {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 0;
}

.loginButton {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10%;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}
