.textarea {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  box-sizing: border-box;
  border: var(--custom-border);
  border-radius: 0.3125rem;
  margin: 0;
  padding: 0.1rem 0.5rem;
  resize: none;
  font-size: 1em;
  line-height: 1.618;
  width: 100%;
  color: #161616;
  transition: background-color 0.4s;
  overflow: hidden;
}

.textarea:focus {
  outline: none;
  background-color: #fafafa;
}
