.axis-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 60%;
  background-color: #222;
  color: #fff;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  padding: 20px;
  border-radius: 5px;
}

.axis-container > div {
  margin-bottom: 10px;
  font-size: 18px;
}

.axis-container input[type='range'] {
  width: 100%;
}

.current-state {
  margin-top: 20px;
}

.current-state > div {
  margin-bottom: 10px;
  font-size: 18px;
}

.reset-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ccc;
  color: #222;
  border: none;
  box-shadow: 0 0 10px #ccc;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.reset-btn:hover {
  background-color: #999;
}
