.question-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.question-text {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.options-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	width: 100%;
}

.option {
	background-color: #f0f0f0;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
	width: 80%;
	text-align: center;
	cursor: pointer;
}

.option:hover {
	background-color: #e0e0e0;
}

.correct {
	background-color: #d8e8c2;
}

.incorrect {
	background-color: #f8c2c2;
}
